<html>
<head>
  <title>Fallout Cracker</title>
</head>

<body>
The following words did not match the length of the first word:
<ol>
  <% badwords.each do |word| %>
    <ul><%= word %></ul>
  <% end %>
</ol>
</body>
</html>
