<html>
<head>
  <title>Fallout Cracker</title>
</head>
<body>
<form action="first" method="post">
  Enter each word on a new line: <textarea name="words" cols="10" rows="10"></textarea>
  <input type="submit">
</form>
</body>

</html>
